{% extends '@Front/Default/base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('bundles/front/css/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/front/css/jquery-ui.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/front/css/jquery-ui.structure.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/front/css/jquery-ui.theme.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/front/css/gsb.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/front/css/gsb2.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="row ">
        <div class=" col-12 text-center nompage">
            <h4>Entrez vos frais</h4>
        </div>

        <div class="container text-center">
            {% for message in app.flashes('success') %}

                <div class="flash-notice">
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>

    <div class="row">

        <div class="col-xs-12 col-md-6 text-center">

            <div class="container">

                <div class="col-lg-12 text-center">
                    <h4>Frais Forfait</h4>
                </div>

                <br />
                <br />

                {{ form_start(formforfait) }}
                {{ form_widget(formforfait) }}
                {{ form_end(formforfait) }}

            </div>

        </div>


        <div class="col-xs-12 col-md-6 text-center">

            <div class="container">
                {% for message in app.flashes('success') %}
                    <div class="flash-notice">
                        <div class="alert alert-success">
                            {{ message }}
                        </div>
                    </div>
                {% endfor %}

                <h4>Frais Hors Forfait</h4>


                <br />
                <br />

                {{ form_start(formHorsforfait) }}
                {{ form_widget(formHorsforfait) }}
                {{ form_end(formHorsforfait) }}

            </div>
        </div>



        <div class="col-xs-12 col-md-6 offset-md-1  text-center tabaddfrais">

            <h4> Frais Forfait entrés</h4>

            <table class="table">
                <thead>
                <tr>
                    <th>
                        Date
                    </th>
                    <th>
                        libelle
                    </th>
                    <th>
                        Quantite
                    </th>
                    <th>
                        Montant unitaire
                    </th>
                    <th>
                        Total
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for unFraisForfait in fichefraisencours.fraisForfaits %}
                    <tr>
                        <td>
                            {{ unFraisForfait.date | date("d-M-Y")}}
                        </td>
                        <td>
                            {{ unFraisForfait.fraisType.libelle }}
                        </td>
                        <td>
                            {{ unFraisForfait.quantite }}
                        </td>
                        <td>
                            {{ unFraisForfait.fraisType.montant | number_format(2, ',', ' ') }}€
                        </td>
                        <td>
                            {{ (unFraisForfait.quantite *  unFraisForfait.fraisType.montant)  | number_format(2, ',', ' ')  }}€

                            <a href="{{ path('removefraisforfait', { id: unFraisForfait.id }) }}"><i class="fas fa-times"></i></a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4">
                            Aucun Frais forfait
                        </td>

                    </tr>
                {% endfor %}
                </tbody>

            </table>

        </div>

        <div class="col-xs-12 col-md-6 text-center tabaddfrais">

            <h4> Frais Hors Forfait entrés</h4>

            <table class="table">
                <thead>
                <tr>
                    <th>
                        Date
                    </th>
                    <th>
                        libelle
                    </th>
                    <th>
                        Quantite
                    </th>
                    <th>
                        Montant unitaire
                    </th>
                    <th>
                        Total
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for unFraisHorsForfait in fichefraisencours.fraisHorsForfait %}
                    <tr>
                        <td>
                            {{ unFraisHorsForfait.date | date("d-M-Y")}}
                        </td>
                        <td>
                            {{ unFraisHorsForfait.libelle }}
                        </td>
                        <td>
                            {{ unFraisHorsForfait.quantite }}
                        </td>
                        <td>
                            {{ unFraisHorsForfait.montant | number_format(2, ',', ' ') }}€
                        </td>
                        <td>
                            {{ (unFraisHorsForfait.quantite *  unFraisHorsForfait.montant)  | number_format(2, ',', ' ')  }}€

                            <a href="{{ path('removefraishorsforfait', { id: unFraisHorsForfait.id }) }}"><i class="fas fa-times"></i></a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4">
                            Aucun Frais forfait
                        </td>

                    </tr>
                {% endfor %}
                </tbody>

            </table>
        </div>
    </div>

{%  endblock body %}