{% extends '@Front/Default/base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('bundles/front/css/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/front/css/jquery-ui.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/front/css/jquery-ui.structure.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/front/css/jquery-ui.theme.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/front/css/gsb.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/front/css/gsb2.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="row ">
        <div class=" col-12 text-center nompage">
            <h4>Entrez vos frais</h4>
        </div>

        <div class="container text-center">
            {% for message in app.flashes('success') %}

                <div class="flash-notice">
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>

    <div class="row">

        <div class="col-xs-12 col-md-6 text-center">

            <div class="container">

                <div class="col-lg-12 text-center">
                    <h4>Frais Forfait</h4>
                </div>

                <br />
                <br />

                {{ form_start(formforfait) }}
                {{ form_widget(formforfait) }}
                {{ form_end(formforfait) }}

            </div>

        </div>


        <div class="col-xs-12 col-md-6 text-center">

            <div class="container">
                {% for message in app.flashes('success') %}
                    <div class="flash-notice">
                        <div class="alert alert-success">
                            {{ message }}
                        </div>
                    </div>
                {% endfor %}

                <h4>Frais Hors Forfait</h4>


                <br />
                <br />

                {{ form_start(formHorsforfait) }}
                {{ form_widget(formHorsforfait) }}
                {{ form_end(formHorsforfait) }}

            </div>
        </div>

        <br/>
        <br/>



            <div class="col-xs-12 col-md-6 text-center tabaddfrais">

                <h4> Frais Forfait entrés</h4>

                <table class="table">
                    <thead>
                    <tr>
                        <th class="userth">
                            Date
                        </th>
                        <th class="userth">
                            libelle
                        </th>
                        <th class="userth">
                            Quantite
                        </th>
                        <th class="userth">
                            Montant unitaire
                        </th>
                        <th class="userth">
                            Total
                        </th>
                        <th class="userth">
                            Action
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                    {% for unFraisForfait in fichefraisencours.fraisForfaits %}
                        <td class="usertd">
                            {{ unFraisForfait.date | date("d-M-Y")}}
                        </td>
                        <td class="usertd">
                            {{ unFraisForfait.fraisType.libelle }}
                        </td>
                        <td class="usertd">
                            {{ unFraisForfait.quantite }}
                        </td>
                        <td class="usertd">
                            {{ unFraisForfait.fraisType.montant | number_format(2, ',', ' ') }}€
                        </td>
                        <td class="usertd">
                            {{ (unFraisForfait.quantite *  unFraisForfait.fraisType.montant)  | number_format(2, ',', ' ')  }}€
                        </td>
                        <td class="usertd">
                            <a href="{{ path('removefraisforfait', { id: unFraisForfait.id }) }}"><i class="fas fa-times"></i></a>
                        </td>
                    </tr>
                    {% else %}
                        <tr>
                            <td class="usertd" colspan="4">
                                Aucun Frais forfait
                            </td>

                        </tr>
                    {% endfor %}
                    </tbody>

                </table>

            </div>

            <div class="col-xs-12 col-md-6 text-center tabaddfrais">

                <h4> Frais Hors Forfait entrés</h4>

                <table class="table">
                    <thead>
                    <tr>
                        <th class="userth">
                            Date
                        </th>
                        <th class="userth">
                            libelle
                        </th>
                        <th class="userth">
                            Quantite
                        </th>
                        <th class="userth">
                            Montant unitaire
                        </th>
                        <th class="userth">
                            Total
                        </th>
                        <th class="userth">
                            Action
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for unFraisHorsForfait in fichefraisencours.fraisHorsForfait %}
                        <tr>
                            <td class="usertd">
                                {{ unFraisHorsForfait.date | date("d-M-Y")}}
                            </td>
                            <td class="usertd">
                                {{ unFraisHorsForfait.libelle }}
                            </td>
                            <td class="usertd">
                                {{ unFraisHorsForfait.quantite }}
                            </td>
                            <td class="usertd">
                                {{ unFraisHorsForfait.montant | number_format(2, ',', ' ') }}€
                            </td>
                            <td class="usertd">
                                {{ (unFraisHorsForfait.quantite *  unFraisHorsForfait.montant)  | number_format(2, ',', ' ')  }}€
                            </td>
                            <td class="usertd">
                                <a href="{{ path('removefraishorsforfait', { id: unFraisHorsForfait.id }) }}"><i class="fas fa-times"></i></a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td class="usertd" colspan="4">
                                Aucun Frais forfait
                            </td>

                        </tr>
                    {% endfor %}
                    </tbody>

                </table>
            </div>

    </div>

{%  endblock body %}