{% extends '@Front/Default/base.html.twig' %}

{% block body %}

    <div class="margetop"></div>

    <div class="row manie">

        <div class="col-12 col-md-6 col-lg-6 text-center tabaddfrais">

            <h4> Frais Forfait entrés</h4>

            <table class="table">
                <thead>
                <tr>
                    <th class="userth">
                        Date
                    </th>
                    <th class="userth">
                        libelle
                    </th>
                    <th class="userth">
                        Quantite
                    </th>
                    <th class="userth">
                        Montant unitaire
                    </th>
                    <th class="userth">
                        Total
                    </th>
                    <th class="userth">

                    </th>
                </tr>
                </thead>
                <tbody>
                {% for fraisforfaitutilisateur in ficheutilisateur.fraisForfaits %}
                    <tr>
                        <td class="usertd">
                            {{ fraisforfaitutilisateur.date | date("d-M-Y")}}
                        </td>
                        <td class="usertd">
                            {{ fraisforfaitutilisateur.fraisType.libelle }}
                        </td>
                        <td class="usertd">
                            {{ fraisforfaitutilisateur.quantite }}
                        </td>
                        <td class="usertd">
                            {{ fraisforfaitutilisateur.fraisType.montant | number_format(2, ',', ' ') }}€
                        </td>
                        <td class="usertd">
                            {{ (fraisforfaitutilisateur.quantite * fraisforfaitutilisateur.fraisType.montant)  | number_format(2, ',', ' ')  }}€
                        </td>
                        <td class="usertd">
                            <a href="{{ path('modifierfraisforfait', { id: fraisforfaitutilisateur.id }) }}"><button class="btn btn-info userbt"><i class="far fa-edit"></i></button></a>

                            <a href="{{ path('removefraishorsforfait', { id: fraisforfaitutilisateur.id }) }}"><button class="btn btn-danger userbt"><i class="far fa-trash-alt"></i></button></a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4">
                            Aucun Frais forfait
                        </td>

                    </tr>
                {% endfor %}
                </tbody>

            </table>
        </div>




        <div class="col-12 col-md-6 col-lg-6 text-center tabaddfrais">

            <h4> Frais Hors Forfait entrés</h4>

            <table class="table">
                <thead>
                <tr>
                    <th class="userth">
                        Date
                    </th>
                    <th class="userth">
                        libelle
                    </th>
                    <th class="userth">
                        Quantite
                    </th>
                    <th class="userth">
                        Montant unitaire
                    </th>
                    <th class="userth">
                        Total
                    </th>
                    <th class="userth">

                    </th>
                </tr>
                </thead>
                <tbody>
                {% for fraishorsforfaitutilisateur in ficheutilisateur.fraisHorsForfait %}
                    <tr>
                        <td class="usertd">
                            {{ fraishorsforfaitutilisateur.date | date("d-M-Y")}}
                        </td>
                        <td class="usertd">
                            {{ fraishorsforfaitutilisateur.libelle }}
                        </td>
                        <td class="usertd">
                            {{ fraishorsforfaitutilisateur.quantite }}
                        </td>
                        <td class="usertd">
                            {{ fraishorsforfaitutilisateur.montant | number_format(2, ',', ' ') }}€
                        </td>
                        <td class="usertd">
                            {{ (fraishorsforfaitutilisateur.quantite *  fraishorsforfaitutilisateur.montant)  | number_format(2, ',', ' ')  }}€
                        </td>
                        <td class="usertd">
                            <a href="{{ path('modifierfraishorsforfait', { id: fraishorsforfaitutilisateur.id }) }}"><button class="btn btn-info userbt"><i class="far fa-edit"></i></button></a>

                            <a href="{{ path('removefraishorsforfait', { id: fraishorsforfaitutilisateur.id }) }}"><button class="btn btn-danger userbt"><i class="far fa-trash-alt"></i></button></a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4">
                            Aucun Frais forfait
                        </td>

                    </tr>
                {% endfor %}
                </tbody>

            </table>
        </div>
    </div>
{% endblock body %}