{% extends '@Front/Default/base.html.twig' %}

{% block body %}

    <div class="row margetop"></div>

    <div class="container">
        <div class="row manie">
            <div class="col-lg-12 text-center">

                <h1>Liste Fichefrais</h1>

                <div class="col-lg-12 text-center">
                    <ul class="gererfichefrais" id="nav-fiches">
                        <li class="btn-link" id="li-tous">Toutes les fiches</li>
                        <li class="btn-link" id="li-encours">Fiche en Cours</li>
                        <li class="btn-link" id="li-cloturees">Fiche Cloturées</li>
                        <li class="btn-link" id="li-validees">Fiche Validées</li>
                    </ul>
                </div>

                <div class="col-lg-12 text-center">

                    <table id="usertable" class="display" cellspacing="0" width="100%">
                        <thead>
                        <tr>
                            <th class="userth">Etat</th>
                            <th class="userth">Nom</th>
                            <th class="userth">Prénom</th>
                            <th class="userth">Mois</th>
                            <th class="userth">Annee</th>
                            <th class="userth">Date creation</th>
                            <th class="userth">Date modif</th>
                            <th class="userth">Montant valide</th>
                            <th class="userth">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for ficheFrais in ficheFrais %}
                            {% if ficheFrais.Etat.id == '1' %}
                                {% set class = "div-encours" %}
                            {% elseif ficheFrais.Etat.id == '3' %}
                                {% set class = "div-validees" %}
                            {% elseif ficheFrais.Etat.id == '2' %}
                                {% set class = "div-cloturees" %}
                            {% elseif ficheFrais.Etat.id == '' %}
                                {% set class = "div-tous" %}
                            {% endif %}

                            <tr>
                                <td class="usertd">{{ficheFrais.etat.libelle}}</td>
                                <td class="usertd">{{ ficheFrais.user.nom }}</td>
                                <td class="usertd">{{ ficheFrais.user.prenom }}</td>
                                <td class="usertd">{{ ficheFrais.mois | date('F') }}</td>
                                <td class="usertd">{{ ficheFrais.annee }}</td>
                                <td class="usertd">{% if ficheFrais.dateCreation %}{{ ficheFrais.dateCreation|date('Y-m-d') }}{% endif %}</td>
                                <td class="usertd">{% if ficheFrais.dateModif %}{{ ficheFrais.dateModif|date('Y-m-d') }}{% endif %}</td>
                                <td class="usertd">{{ ficheFrais.montantValide }}</td>
                                <td class="usertd">
                                    <a href="{{ path('voirfichefrais', { 'id': ficheFrais.id }) }}"><button type="button" class="btn btn-outline-primary userbt"><i class="fas fa-eye"></i></button></a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script language="JavaScript">
        $(document).ready(function() {
            var table = $('#usertable').DataTable();

            $('#li-encours').on( 'click', function () {
                table.search( "cours" ).draw();
            } );
            $('#li-cloturees').on( 'click', function () {
                table.search( "cloturé" ).draw();
            } );
            $('#li-validees').on( 'click', function () {
                table.search( "validé" ).draw();
            } );
            $('#li-tous').on( 'click', function () {
                table.search( "" ).draw();
            } );
        });
    </script>

{% endblock %}