<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>


        <link href="{{ asset('bundles/front/css/bootstrap.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/front/css/jquery-ui.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/front/css/jquery-ui.structure.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/front/css/jquery-ui.theme.css') }}" rel="stylesheet">
        <link href="http://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet">
        <link href="{{ asset('bundles/front/css/gsb.css') }}" rel="stylesheet">
    {% block stylesheets %}
    {% endblock %}

</head>



<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">

        <a class="navbar-brand" href="{{ path('homepage') }}">
            <img src="{{ asset('bundles/front/img/gsb-logo.png') }}" class="logo">
        </a>


        <!--
        <a class="navbar-brand" href="{{ path('homepage') }}"><img src="{{ asset('bundles/front/img/gsb-logo.png') }}" class="logo"></img>
        <img src="{{ asset('bundles/front/img/gsb-logo.png') }}" class="logo"><a class="navbar-brand" href="{{ path('homepage') }}"></a></img>
        -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">

                    <div class="loginname">
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            {{ 'layout.logged_in_as'|trans({'%username%': app.user.prenom}, 'FOSUserBundle') }} |
                            <a href="{{ path('fos_user_security_logout') }}">
                                {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                            </a>
                        {% endif %}
                    </div>

                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="row margetop">

</div>

{% block body %}
{% endblock body %}

{% block footer %}
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-6 col-sm-6 col-md-6 col-lg-6">
                    <div class="copyright">
                        <p>©GSB 2017 - 2018</p>
                    </div>
                </div>
                <div class="col-6 col-sm-6 col-md-6 col-lg-6">
                    <div class="design">
                        <a href="{{ path ('plandusite') }}">Plan du Site</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

<script type="text/javascript" src="{{ asset ('bundles/front/js/jquery.js') }}"></script>
<script type="text/javascript" src="{{ asset ('bundles/front/js/datatables.js') }}"></script>
<script type="text/javascript" src="{{ asset ('bundles/front/js/popper.js') }}"></script>
<script type="text/javascript" src="{{ asset ('bundles/front/js/bootstrap.js') }}"></script>
<script type="text/javascript" src="{{ asset ('bundles/front/js/jquery-ui.js') }}"></script>
<script type="text/javascript" src="{{ asset ('bundles/front/js/script.js') }}"></script>
<script defer src="{{ ('https://use.fontawesome.com/releases/v5.0.8/js/all.js') }}"></script>
<script type="text/javascript" src="{{ asset ('bundles/front/js/materialize.min.js') }}"></script>

{% block javascripts %}
{% endblock %}

</html>