{% extends '@Front/Default/base.html.twig' %}

{% block body %}

    <div class="margetop"></div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-center">

        <h4>Plan du site</h4>

    </div>

    <div class="margetop"></div>

    <div class="row manie">
        <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-center">
            <div class="container">
                <h5>Page utilisateur</h5>

                <p>
                    <a href="{{ path ('homepage') }}">Page d'accueil utilisateur</a>
                </p>
                <p>
                    <a href="{{ path ('addfrais') }}">Page d'ajoute de frais pour l'utilisateur</a>
                </p>

            </div>
        </div>
    </div>

    <div class="margetop"></div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-center">
        <div class="container">
            <h5>Page administrateur</h5>

            <p>
                <a href="{{ path ('homepage') }}">Page d'accueil Administrateur</a>
            </p>
            <p>
                <a href="{{ path ('addfraistype') }}">Page d'ajoute de frais type pour l'Administrateur</a>
            </p>
            <p>
                <a href="{{ path ('gererfichesfrais') }}">Page d'ffichage des fiche frais pour l'Administrateur</a>
            </p>
            <p>
                <a href="{{ path ('addutilisateur') }}">Page d'ajoute d'utilisateur</a>
            </p>
            <p>
                <a href="{{ path ('listeutilisateur') }}">Page de liste</a>
            </p>

        </div>
    </div>


{% endblock body %}