{% extends '@Front/Default/base.html.twig' %}

{% block body %}

<div class="row manie">
    <div class="container col-3 formcontainer">
    </div>
</div>


<div class="container col-6 formcontainer">


        {% for message in app.flashes('success') %}
            <div class="flash-notice">
                <div class="alert alert-success">
                    {{ message }}
                </div>
            </div>
        {% endfor %}

    <h4>Ajoutez un Frais Forfait</h4>
    <br />
    <br />

    {{ form_start(formfft) }}
    {{ form_widget(formfft) }}
    {{ form_end(formfft) }}


</div>

<div class="container">
    <div class="row manie">
        <div class="col-md-12 text-center tabaddfraisadmin">

            <h4>Liste Frais Forfait type</h4>

            <table class="table">
                <thead>

                    <tr>
                        <th>
                            Libelle
                        </th>
                        <th>
                            Montant
                        </th>
                        <th>
                            Action
                        </th>
                    </tr>

                </thead>

                <tbody>
                {% for lesfraistypes in fraisType %}
                <tr>
                    <td>
                        {{ lesfraistypes.libelle }}
                    </td>
                    <td>
                        {{ lesfraistypes.montant }}
                    </td>
                    <td>
                        <a href="{{ path('removefraistype', { id: lesfraistypes.id }) }}"><i class="fas fa-times" style="color: #bd2130"></i></a>
                    </td>
                </tr>
                {% else %}
                    <tr>
                        <td colspan="4">
                            Aucun Frais forfait Type
                        </td>

                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
</div>


{% endblock body %}