{% extends '@Front/Default/base.html.twig' %}

{% block body %}

    <div class="row margetop"></div>

    <div class="container">
        <div class="row">

            <h1>Liste Fichefrais</h1>

            <div class="row">
                <ul id="nav-fiches">
                    <ul class="btn-link" id="li-encours">Fiche en Cours</ul>
                    <ul class="btn-link" id="li-cloturees">Fiche Cloturées</ul>
                    <ul class="btn-link" id="li-validees">Fiche Valitées</ul>
                </ul>
            </div>

            <table class="table">
                <thead>
                <tr>
                    <th class="userth">Id</th>
                    <th class="userth">Nom</th>
                    <th class="userth">Prénom</th>
                    <th class="userth">Mois</th>
                    <th class="userth">Annee</th>
                    <th class="userth">Montant valide</th>
                    <th class="userth">Date creation</th>
                    <th class="userth">Date modif</th>
                    <th class="userth">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for ficheFrais in ficheFrais %}

                    <tr>
                        <td class="usertd">{{ficheFrais.id}}</td>
                        <td class="usertd">{{ ficheFrais.user.nom }}</td>
                        <td class="usertd">{{ ficheFrais.user.prenom }}</td>
                        <td class="usertd">{{ ficheFrais.mois | date('F') }}</td>
                        <td class="usertd">{{ ficheFrais.annee }}</td>
                        <td class="usertd">{{ ficheFrais.montantValide }}</td>
                        <td class="usertd">{% if ficheFrais.dateCreation %}{{ ficheFrais.dateCreation|date('Y-m-d') }}{% endif %}</td>
                        <td class="usertd">{% if ficheFrais.dateModif %}{{ ficheFrais.dateModif|date('Y-m-d') }}{% endif %}</td>
                        <td>
                            <ul>
                                <a href="{{ path('voirfichefrais', { 'id': ficheFrais.id }) }}"><button type="button" class="btn btn-outline-primary userbt">Voir la Fiche</button></a>
                                <a href="{{ path('supprFiche', { 'id': ficheFrais.id }) }}"><button type="button" class="btn btn-outline-danger userbt">Supprimer la Fiche</button></a>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
