{% extends '@Front/Default/base.html.twig' %}

{% block body %}
    <div class="row margetop"></div>
    <div class="container">
        <div class="row manie">
            <div class="col-lg-12 text-center">
            <h1>Utilisateur</h1>
            </div>
            
                <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-center">

                    <table class="table">
                        <thead>
                        <th class="userth">Rôle</th>
                        <th class="userth">Nom</th>
                        <th class="userth">Prenom</th>
                        <th class="userth">Pseudo</th>
                        <th class="userth">Adresse</th>
                        <th class="userth">Code Postal</th>
                        <th class="userth">Ville</th>
                        <th class="userth">Date d'Embauche</th>
                        <th class="userth">Date de Modification</th>
                        <th class="userth">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for user in users %}
                            <tr>
                                <td class="usertd">{% for role in user.roles %}{% if role == "ROLE_ADMIN" %} ADMIN {% else %} USER{% endif %}{% endfor %}</td>
                                <td class="usertd">{{ user.nom }}</td>
                                <td class="usertd">{{ user.prenom }}</td>
                                <td class="usertd">{{ user.username }}</td>
                                <td class="usertd">{{ user.adresse }}</td>
                                <td class="usertd">{{ user.cp }}</td>
                                <td class="usertd">{{ user.ville }}</td>
                                <td class="usertd">{% if user.dateEmbauche %}{{ user.dateEmbauche|date('Y-m-d') }}{% endif %}</td>
                                <td class="usertd">{% if user.dateModif %}{{ user.dateModif|date('Y-m-d') }}{% endif %}</td>
                               <!-- <td>
                                    <ul>
                                        <a href="{{ path('user_edit', { id: user.id }) }}"><button type="button" class="btn btn-outline-primary userbt"><i class="fas fa-eye"></i></button></a>
                                        <a href="{{ path('user_remove', { id: user.id }) }}"><button type="button" class="btn btn-outline-danger userbt"><i class="far fa-trash-alt"></i></button></a>
                                    </ul>
                                </td>  -->
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

        </div>
    </div>
{% endblock %}